apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: python-root
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: python-root
    app.kubernetes.io/part-of: purple-mermaid-app
  name: python-root
  namespace: jakumar
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: python-root
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: python-root
    spec:
      containers:
      - image: quay.io/redhat-appstudio/user-workload:jakumar-python-root
        imagePullPolicy: Always
        livenessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 10
        name: container-image
        ports:
        - containerPort: 8080
        readinessProbe:
          initialDelaySeconds: 10
          periodSeconds: 10
          tcpSocket:
            port: 8080
        resources:
          requests:
            cpu: "0"
            memory: "0"
status: {}
